/**
 * Header logo
 */

.i-header-logo {
	display: inline-block;
	font-size: 18px;
	color: inherit;
}
.i-header-logo:hover {
	text-decoration: none;
	color: inherit;
}
.i-header-logo img {
	display: inline-block;
	width: 75px;
}

/**
 * Sidebar logo
 */

.i-sidebar-logo {
	display: block;
	margin: 0 auto;
	width: 140px;
	padding: 20px;
}
.i-sidebar-logo img {
	width: 100%;
}
