.i-search-input {
	position: relative;
}
.i-search-input input {
	margin-top: 5px;
	padding-left: 45px;
	padding-bottom: 0.3em;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	background: transparent;
	border: none;
	border-bottom: 1px solid;
	border-radius: 0;
	box-shadow: none;
	transition-duration: 0s;
	opacity: 0.5;
	transition: ease 125ms;
}
.i-search-input input:focus {
	margin-top: 0;
	padding-top: 0.5em;
	padding-bottom: 0.4em;
	font-size: 18px;
	background: rgba(0, 0, 0, 0.1);
	border-color: transparent;
	box-shadow: none;
	outline: none;
	opacity: 1;
}
.i-search-input input::-webkit-input-placeholder {
	-webkit-font-smoothing: antialiased;
}
.i-search-input input::-moz-placeholder {
}
.i-search-input input::placeholder {
	-webkit-font-smoothing: antialiased;
}
.i-search-input .search-input-icon {
	position: absolute;
	top: 50%;
	left: 22px;
	transform: translateY(-50%);
}
.i-search-input input:focus ~ .search-input-icon {
	left: 16px;
}

.i-search-input-reset {
	display: block;
	position: absolute;
	left: 10px;
	top: 50%;
	padding: 10px;
	background: transparent;
	border: none;
	cursor: pointer;
	opacity: 0.5;

	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.i-search-input-reset:focus {
	outline: none;
}
.i-search-input input:focus ~ .i-search-input-reset {
	left: 5px;
	padding: 11px 10px 9px;
	opacity: 1;
}

.i-search-input-reset,
.i-search-input.has-value .search-input-icon {
	display: none;
}

.i-search-input.has-value .i-search-input-reset {
	display: block;
}
