.i-sidebar-title {
	line-height: 40px;
}
.i-sidebar-logo {
	vertical-align: bottom;
}

.i-sidebar-list-item {
	display: block;
}
.i-sidebar-list-item:hover {
	text-decoration: none;
}

.i-sidebar-list-item > * {
	border-bottom: 1px solid transparent;
}
.i-sidebar-list-item:hover > * {
	text-decoration: none;
	border-bottom-color: currentColor;
}

/**
 * Sidebar search filtering
 */

.i-hidden-by-filter {
	display: none !important;
}
.i-shown-by-filter {
	display: block !important;
}
.i-sidebar-list-group.i-filtered .collapse {
	display: block;
	height: auto !important;
}

/**
 * No results filter
 */

.i-sidebar-filter-no-results {
	display: none;
}
.i-sidebar-list-group.i-hidden-by-filter ~ .i-sidebar-filter-no-results {
	display: block;
}
.i-sidebar-list-group.i-shown-by-filter ~ .i-sidebar-filter-no-results {
	display: none;
}
