.i-search-input {
	position: relative;
}
.i-search-input input {
	padding-left: 45px;
	padding-bottom: 0.3em;
	font-size: 16px;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	background: transparent;
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 0;
	box-shadow: none;
	transition-duration: 0s;
	opacity: 0.5;
	transition: ease 150ms;
}
.i-search-input input:focus {
	color: #fff;
	background: rgba(0, 0, 0, 0.1);
	border-color: transparent;
	box-shadow: none;
	outline: none;
	opacity: 1;
}
.i-search-input input::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.75);
	-webkit-font-smoothing: antialiased;
}
.i-search-input input::-moz-placeholder {
	color: rgba(255, 255, 255, 0.75);
}
.i-search-input input::placeholder {
	color: rgba(255, 255, 255, 0.75);
	-webkit-font-smoothing: antialiased;
}
.i-search-input .search-input-icon {
	position: absolute;
	top: 50%;
	left: 22px;
	transform: translateY(-50%);
	color: rgba(255, 255, 255, 0.75);
}
