/*
	Title
 */

.i-hero-title {
	font-size: 5rem;
	line-height: 1;
}

@media (min-width: 992px) {
	.i-hero-title {
		font-size: 6rem;
	}
}

/*
	Content
 */

.i-hero-content br {
	display: none;
}

.i-hero-content-body {
	line-height: 1.3;
}

@media (min-width: 992px) {
	.i-hero-content {
		width: 50%;
	}

	.i-hero-content br {
		display: block;
	}
}

/*
	Image
 */

.i-hero-image {
	position: relative;
	margin-top: 40px;
	width: 100%;
	max-width: 936px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}

@media (min-width: 576px) {
	.i-hero-image {
		margin-left: -5%;
		width: 110%;
	}
}

@media (min-width: 992px) {
	.i-hero-image {
		position: absolute;
		left: 50%;
		top: 30px;
		margin-top: 0;
		margin-left: 0;
		width: 100%;
	}
}
