.i-example {
	margin-top: 20px;
}
.i-example__heading {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 1em;
	color: #aaa;
}
.i-example__body {
	padding: 30px 35px;
	border: 3px solid #f7f7f7;
}
.i-example iframe {
	width: 100%;
	border: none;
}
