.i-example {
	margin: 20px 0;
	border: 3px solid #f7f7f7;
}
.i-example__heading {
	margin: 0;
	padding: 0.5em;
	font-size: 0.8em;
	font-weight: 500;
	text-transform: uppercase;
	color: #888;
}
.i-example__body {
	padding: 25px 35px;
}
.i-example iframe {
	width: 100%;
	border: none;
}
