.i-library {
	margin: -1px 0 10px;  /* -1px to counteract padding-top:1px on .i-page-content */
	padding: 100px 20px 40px;
	background: #fff;
	border-bottom: 1px solid #f0f0f0;
}

@media (min-width: 992px) {
	.i-library {
		padding: 50px 60px;
	}
}
