.i-page {
	display: block;
	min-height: calc(100vh - 50px);
	font-family: system-ui, sans-serif;
	background: #fff;
	font-size: 16px;
}

.i-page__sidebar {
	display: none;
	background: #0b7564;
	color: #fff;
}
.i-page__sidebar > * {
	padding: 0 20px;
}
.i-page__sidebar a {
	color: inherit;
}
.i-page__content {
	padding-top: 60px;
	background: #f0f0f0;
}

.i-nav-select {
	position: fixed;
	z-index: 100;
	top: 0;
	width: 100%;
	min-height: 60px;
	margin: 0;
	padding: 10px 20px;
	padding-right: 145px;
	background: #f0f0f0;
}

.i-nav-select select {
	padding: 0;
}

@media (min-width: 992px) {
	.i-page__content {
		margin-left: 20%;
		padding-top: 1px;  /* Prevents background masking from inner margin */
	}
	.i-page__sidebar {
		display: flex;
		flex-direction: column;
		align-content: flex-start;
		position: fixed;
		z-index: 1;
		top: 0;
		bottom: 0;
		left: 0;
		width: 20%;
		padding: 10px 0;
		overflow-x: hidden;
		overflow-y: auto;
	}
	.i-nav-select {
		display: none;
	}
}
