.i-section {
	position: relative;
}

/**
 * Link
 */

.i-section__link {
	display: none;
	color: #ccc;
}
.i-section__link:hover {
	color: #337ab7;  /* Bootstrap default link color */
}
.i-section:hover .i-section__link,
.i-section:hover .i-section__link:hover {
	display: inline-block;
}

/**
 * Heading link icon
 */

h1[id],
h2[id],
h3[id],
h4[id],
h5[id],
h6[id] {
	position: relative;
}
.i-section[id] .i-section__link.-heading,
h1[id] .icon-link,
h2[id] .icon-link,
h3[id] .icon-link,
h4[id] .icon-link,
h5[id] .icon-link,
h6[id] .icon-link {
	display: none;
	position: absolute;
	top: 32px;
	left: 0.3em;
	width: 1.4em;
	color: #ccc;

	-webkit-transform: translate(-100%, 0%) scale(0.7);
	-moz-transform: translate(-100%, 0%) scale(0.7);
	-ms-transform: translate(-100%, 0%) scale(0.7);
	transform: translate(-100%, 0%) scale(0.7);
}
.i-section[id]:hover .i-section__link.-heading,
h1[id]:hover .icon-link,
h2[id]:hover .icon-link,
h3[id]:hover .icon-link,
h4[id]:hover .icon-link,
h5[id]:hover .icon-link,
h6[id]:hover .icon-link {
	display: block;
}
.i-section[id] .i-section__link.-heading:hover,
h1[id] .icon-link:hover,
h2[id] .icon-link:hover,
h3[id] .icon-link:hover,
h4[id] .icon-link:hover,
h5[id] .icon-link:hover,
h6[id] .icon-link:hover {
	color: #000;
	text-decoration: none;
}
