<!doctype html>
<html lang="en-us" id="insta">
	<head>
		<meta chartset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link href="css/all.css" rel="stylesheet">

		<!-- @todo Replace with custom icomoon/fontello bundle -->
		<script src="https://use.fontawesome.com/6dd56ad32d.js"></script>

		<title>{{name}}</title>
	</head>
	<body class="overflow-x-off i-page">
		<div class="i-page__content">
			{{#each groups}}
				{{#each docs}}
					{{{html}}}
				{{/each}}
			{{/each}}
		</div>
		<div
			class="i-page__sidebar text-white"
			style="
				background-color: {{sidebar.bgColor}};
				color: {{sidebar.textColor}};
			"
		>
			{{> sidebar}}
		</div>

		<script src="js/vendor/jquery-3.2.1.slim.min.js"></script>
		<script src="js/vendor/popper.min.js"></script>
		<script src="js/vendor/tether.min.js"></script>
		<script src="js/vendor/bootstrap.min.js"></script>
		<script src="js/vendor/iframeResizer.min.js"></script>
		<script src="js/vendor/lazyframe.min.js"></script>
		<script src="js/vendor/highlight.min.js"></script>
		<script src="js/app.js"></script>
		<script>hljs.initHighlightingOnLoad();</script>
	</body>
</html>
